{% extends '@Admin/base-admin.html.twig' %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}
    <section>
        <nav>
            <ul>
                <li><a href="">Tous les éléments</a></li>
                <li><a href="">Désactivés</a></li>
                <li><a href="">Activés</a></li>
            </ul>
        </nav>
    </section>
{% endblock body %}

{% block scripts %}
{% endblock scripts %}