front:
    resource: "@FrontBundle/Resources/config/routing.yml"
    prefix:   /front

admin:
    resource: "@AdminBundle/Resources/config/routing.yml"
    prefix:   /admin

app:
    resource: "@AppBundle/Controller/"
    type:     annotation
