{% extends '::base.html.twig' %}
    {% block body %}
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Formulaire entreprise <small></small>
                        </h1>
                    </div>
                </div>




                <div class="row">

                    <div class="col-md-12 col-sm-24 col-xs-24">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Formulaire entreprise
                            </div>
                            <div class="panel-body">
                                <h1></h1>
                                <div class="well">
                                   <div class="form-group row">

                                        {{ form_start(form) }}
                                        {{ form_widget(form) }}
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /. ROW  -->

            </div>
            <!-- /. PAGE INNER  -->
        </div>
    {% endblock body %}
 