<footer>
    <div class="footer-cp-container">
        <span class="">Copyright 2018. ITJob</span>
        <span class=""> | Tous droits reserves</span>
        <span class=""> | <a target="_blank" href="http://www.netunivers.com">Creations Netunivers</a></span>
        <span class=""> | <a href="#">Liens Partenaires</a></span>
    </div>
</footer>