{% extends "@Admin/base-admin.html.twig" %}

{% block title %}AdminBundle:FormationsModulaires:index{% endblock %}

{% block body %}
<h1>Welcome to the FormationsModulaires:index page</h1>
{% endblock %}
